.about {
	padding-bottom: 2rem;

	&__bio-image {
		height: 45vh;
		width: 100%;
		padding-top: 30vh;
		background: linear-gradient(to right, rgba($dark-color, 0.5), rgba($dark-color, 0.3)),
			url("https://images.unsplash.com/photo-1564419431636-fe02f0eff7aa?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1924&q=80")
				center top;
		background-size: cover;
		font-family: $rocknroll;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $light-color;

		p {
			padding: 2px 20px;
			@include mobile {
				padding: 2px 50px;
			}
			@include tablet {
				padding: 2px 100px;
			}
		}
	}

	.jobs {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2em;
		width: 80%;
		margin: 2em auto 1em auto;

		&__job {
			padding: 5px 0;
			text-align: center;
			background-color: lighten($dark-color, 10%);
			border-bottom: 5px solid $accent-color;

			h3 {
				margin: 10px 0;
			}
			p {
				margin: 10px 0;
			}
			h6 {
				font-size: large;
			}
		}
	}
}

.text-secondary {
	color: $accent-color;
}
