header {
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: $accent-color;

	height: 7vh;

	.logo {
		letter-spacing: 4px;
		text-transform: uppercase;
		color: $dark-color;
	}
}

%a {
	transition: color 0.3s ease;
	&:hover {
		color: darken($light-color, 50%);
	}

	&:active {
		color: darken($light-color, 100%);
	}
}

.nav {
	height: 100%;
	display: flex;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
}

.check {
	@include mobile {
		display: none;
	}
	display: flex;
	flex-direction: column;
	width: 30px;
	cursor: pointer;

	span {
		background: $dark-color;
		border-radius: 10px;
		height: 3px;
		margin: 2px 0;
		transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

		&:nth-of-type(1) {
			width: 50%;
		}
		&:nth-of-type(2) {
			width: 100%;
		}
		&:nth-of-type(3) {
			width: 75%;
		}
	}

	input[type="checkbox"] {
		display: none;
		&:checked ~ span:nth-of-type(1) {
			transform-origin: bottom;
			transform: rotatez(45deg) translate(2px, 0px);
		}
		&:checked ~ span:nth-of-type(2) {
			transform-origin: top;
			transform: rotatez(-45deg);
		}
		&:checked ~ span:nth-of-type(3) {
			transform-origin: bottom;
			width: 50%;
			transform: translate(12px, -2px) rotatez(45deg);
		}
	}
}

.menu-nav {
	height: 0;
	background-color: $accent-color;
	list-style: none;
	width: 100%;
	font-size: 2rem;
	transition: height 0.2s ease-in;

	li {
		padding: 1em;
		opacity: 0;
		transition: opacity 0.32s ease;

		a {
			@extend %a;
		}
	}
}

.links {
	display: none;
	height: 7vh;

	@include mobile {
		display: block;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 7vh;
		list-style: none;

		a {
			@extend %a;
		}

		li + li {
			padding-left: 20px;
		}
	}
}
