.projects {
	padding-bottom: 2rem;

	&__bio-image {
		height: 30vh;
		width: 100%;
		padding-top: 25vh;
		background: linear-gradient(to right, rgba($dark-color, 0.5), rgba($dark-color, 0.3)),
			url("https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80")
				center top;
		background-size: cover;
		font-family: $rocknroll;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $light-color;

		h1 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0.2em;
		width: 60vw;
		margin: 2em auto 1em auto;
	}
	&__item {
		position: relative;
		border-bottom: 5px solid $accent-color;
		overflow: hidden;
		cursor: pointer;

		width: 100%;

		img {
			width: 100%;
			height: auto;
		}

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $accent-color;
			opacity: 0;
			transition: all 0.2s ease-in;
		}
		&:hover {
			&::after {
				top: 20%;
				opacity: 0.7;
			}

			.projects__btn {
				opacity: 1;
			}
		}
	}
	&__btns {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-align: center;
	}

	&__btn {
		opacity: 0;
		column-rule: $accent-color;
		transition: all 0.2s ease-in;
		&:hover {
			color: $accent-color;
		}
	}
}
