// Colors
$primary-color: #fe0001;
$dark-color: #212121;
$light-color: #ffffff;
$bg-color: #f9f9f9;
$accent-color: #ffd479;

// Font
$font-weights: (
	"light": 100,
	"regular": 400,
	"medium": 500,
	"bold": 900,
);
$roboto: "Roboto", sans-serif;
$rocknroll: "RocknRoll One", sans-serif;

// Sizes
$mobile: 675px;
$tablet: 868px;
$desktop: 1111px;
