@import "resets";
@import "variable";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=RocknRoll+One&display=swap");
@import "navbar";
@import "home";
@import "about";
body {
	background-color: $dark-color;
	color: $light-color;
	font-family: $roboto;
	line-height: 1.6;
	user-select: none;
}

h1,
h2,
h3 {
	font-weight: map-get($font-weights, "medium");
}

a {
	color: $light-color;
	text-decoration: none;
}

main {
	height: 100%;
	width: 100%;

	.social-icons {
		position: fixed;
		bottom: 1rem;
		left: 1rem;

		a {
			color: $light-color;
			padding: 0.4em;

			&:hover {
				color: darken($accent-color, 8%);
			}
		}
	}
}

footer {
	font-size: 1rem;
	position: fixed;
	bottom: 0.4em;
	right: 1rem;
	text-align: right;
	padding: 1em;
	color: $light-color;
}

.active {
	a {
		color: darken($light-color, 50%);
	}
}
